<section id="contact">

    <div class="row section-intro">
       <div class="col-twelve">

           <h5>Contact</h5>
           <h1></h1>

           <p class="lead"></p>

       </div> 
   </div> <!-- /section-intro -->

   <div class="row contact-form">

       <div class="col-twelve">

        <!-- form -->
        <form name="contactForm" >
              <fieldset>

              <div class="form-field">
                        <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="" [(ngModel)]="form.nombre">
              </div>
              <div class="form-field">
                     <input name="contactEmail" type="text" id="contactEmail" placeholder="Email" value="" required="" [(ngModel)]="form.email">
               </div>
              <div class="form-field">
                        <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="" [(ngModel)]="form.subject">
               </div>                       
              <div class="form-field">
                     <textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required="" [(ngModel)]="form.message"></textarea>
               </div>                      
             <div class="form-field">
                 <button class="submitform" (click)="enviar()">Submit</button>
                 <div id="submit-loader">
                    <div class="text-loader">Sending...</div>                             
                         <div class="s-loader">
                                  <div class="bounce1"></div>
                                  <div class="bounce2"></div>
                                  <div class="bounce3"></div>
                            </div>
                        </div>
              </div>

              </fieldset>
          </form> <!-- Form End -->

        <!-- contact-warning -->
        <div id="message-warning">            	
        </div>            
        <!-- contact-success -->
          <div id="message-success">
           <i class="fa fa-check"></i>Your message was sent, thank you!<br>
          </div>

     </div> <!-- /col-twelve -->
       
   </div> <!-- /contact-form -->

   <div class="row contact-info">

       <div class="col-four tab-full">

           <div class="icon">
               <i class="icon-pin"></i>
           </div>

           <h5>Where to find me</h5>

           <p>
        Felipe Angeles<br>
        Mazatlán, Sinaloa<br>
        82090
        </p>

       </div>

       <div class="col-four tab-full collapse">

           <div class="icon">
               <i class="icon-mail"></i>
           </div>

           <h5>Email Me At</h5>

           <p><a href="mailto:ismaelosuna.ca@gmail.com" style="color: #6e6e6e;">ismaelosuna.ca@gmail.com</a><br>
               		     
           </p>

       </div>

       <div class="col-four tab-full">

           <div class="icon">
               <i class="icon-phone"></i>
           </div>

           <h5>Call Me At</h5>

           <p>
               Mobile: (+52) 669 115 5132<br>
           </p>

       </div>
       
   </div> <!-- /contact-info -->
    
</section>
