<section id="about">  

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>About</h5>
            <h1>Let me introduce myself.</h1>

            <div class="intro-info">

                <img src="assets/images/perfil.jpg" alt="Profile Picture" style="width: 400;">

                <p class="lead">Hi, I'm Ismael Osuna, full-stack developer, graduated in Information Systems Engineering from the Autonomous University of Sinaloa. I have worked for several companies as a freelance developer, I really like to program in my free time as well as learn new technologies, my passion for programming started at 16 years old and the learning process has continued to be able to develop better in this area.</p>
            </div>   			

        </div>   		
    </div> <!-- /section-intro -->

    <div class="row about-content">

        <div class="col-twelve tab-full">

            <h3>Profile</h3>
            <p>Get a job that allows me to apply my experiences and knowledge in my
                sector and in the different areas of the company, in order to develop professionally for the good
                performance of assigned functions.</p>

            <ul class="info-list">
                <li>
                    <strong>Fullname:</strong>
                    <span>Jesús Ismael Osuna Carrillo</span>
                </li>
                <li>
                    <strong>Birth Date:</strong>
                    <span>April 03, 1996</span>
                </li>
                <li>
                    <strong>Job:</strong>
                    <span>Freelancer, Full-Stack Developer</span>
                </li>
                <li>
                    <strong>Email:</strong>
                    <span>ismaelosuna.ca@gmail.com</span>
                </li>

            </ul> <!-- /info-list -->

        </div>

        <div class="col-six tab-full">

            <h3>Skills</h3>
           

             <ul class="skill-bars">
                <li>
                    <div class="progress percent100"><span></span></div>
                    <strong>JavaScript</strong>
                </li>
                <li>
                    <div class="progress percent100"><span></span></div>
                    <strong>ReactJs</strong>
                </li>
                <li>
                    <div class="progress percent100"><span></span></div>
                    <strong>Git</strong>
                </li>
                <li>
                    <div class="progress percent100"><span></span></div>
                    <strong>Angular2</strong>
                </li>
                <li>
                    <div class="progress percent100"><span></span></div>
                    <strong>Microsoft SQL Server</strong>
                </li>
                <li>
                    <div class="progress percent100"><span></span></div>
                    <strong>MySQL</strong>
                </li>
                <li>
                    <div class="progress percent100"><span></span></div>
                    <strong>NoSql</strong>
                </li>
                <li>
                    <div class="progress percent100"><span></span></div>
                    <strong>MongoDB</strong>
                </li>
                <li>
                    <div class="progress percent100"><span></span></div>
                    <strong>Html5</strong>
                </li>
                <li>
                    <div class="progress percent100"><span></span></div>
                    <strong>Css</strong>
                </li>
                <li>
                    <div class="progress percent100"><span></span></div>
                    <strong>NodeJs</strong>
                </li>
             </ul> <!-- /skill-bars -->		

        </div>
        <div class="col-six tab-full">


             <ul class="skill-bars">
                <li>
                    <div class="progress percent100"><span></span></div>
                    <strong>C#</strong>
                </li>
                <li>
                    <div class="progress percent100"><span></span></div>
                    <strong>PHP</strong>
                </li>
                <li>
                    <div class="progress percent100"><span></span></div>
                    <strong>Ionic Framework</strong>
                </li>
                <li>
                    <div class="progress percent100"><span></span></div>
                    <strong>ReactNative</strong>
                </li>
                <li>
                    <div class="progress percent100"><span></span></div>
                    <strong>Flutter</strong>
                </li>
                <li>
                    <div class="progress percent100"><span></span></div>
                    <strong>Dart</strong>
                </li>
                <li>
                    <div class="progress percent100"><span></span></div>
                    <strong>GraphQl</strong>
                </li>
                <li>
                    <div class="progress percent100"><span></span></div>
                    <strong>TypeScript</strong>
                </li>
                <li>
                    <div class="progress percent100"><span></span></div>
                    <strong>VueJs</strong>
                </li>
                <li>
                    <div class="progress percent100"><span></span></div>
                    <strong>WordPress</strong>
                </li>
                <li>
                    <div class="progress percent100"><span></span></div>
                    <strong>Magento</strong>
                </li>
             </ul> <!-- /skill-bars -->		

        </div>

    </div>

    <div class="row button-section">
        <div class="col-twelve">
            <a [scrollTo]="'#contact'" [scrollDuration]="1000" [scrollOffset]="0" title="Hire Me" class="button stroke smoothscroll">Hire Me</a>
            <a title="Download CV" download="cv" href="assets/CV1.pdf" class="button button-primary">Download CV</a>
        </div>   		
    </div>

</section>