<section id="intro">   

    <div class="intro-overlay"></div>	

    <div class="intro-content">
        <div class="row">

            <div class="col-twelve">

                <h5>>0 == "0" < true</h5>
                <h1>I'm Ismael Osuna</h1>

                <p class="intro-position">
                    <span>Full-Stack Developer</span>
                </p>

                <a class="button stroke smoothscroll" [scrollTo]="'#about'" [scrollDuration]="1000" [scrollOffset]="0" title="">More About Me</a>

            </div>  
            
        </div>   		 		
    </div> <!-- /intro-content --> 

    <ul class="intro-social">        
      <li><a href="https://www.facebook.com/ismael.osunaC" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://www.linkedin.com/in/ismael-osuna-a94a34195/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
   </ul> <!-- /intro-social -->      	

</section>